<div class="container-fluid text-sm-left p-5 bg-primary rounded bg-opacity-25"> <!-- bg-light is background color & p-5 is padding -->
    <h1 class="display-4"><%= t('links.welcome') %></h1>
    <p class="lead"><%= t('links.App-desc') %></p>
    <p><%= t('links.Selection-info') %></p>
    <%= render "menu" %>
</div>


