<div class="container-fluid text-sm-left p-5 bg-primary rounded bg-opacity-25">
  <h1><%= t('edit.mining_type') %></h1>
  
  <%= render 'form', mining_type: @mining_type %>
  
  <%= link_to t('links.show'), @mining_type, class: "btn btn-primary btn-sm" %> |
  <%= link_to t('links.back'), mining_types_path, class: "btn btn-primary btn-sm" %>
</div>
