<% if @answer.correct %>
  <h1 style="background-color: #99ffa3; text-align: center">Parabéns você ACERTOU!!</h1>
<% else %>
  <h1 style="background-color: #ffb5b5; text-align: center">Infelizmente você ERROU!..  :(</h1>
<% end %>